<!DOCTYPE html>
<% if logged_in? %>
<%      button_description = "Logout" %>
<%      url = session_url(current_user) %>
<%      status = "Logged In!" %>
<% else%>
<%      button_description = "Log In!" %>
<%      url = new_session_url %>
<%      status = "Logged Out" %>
<% end  %>
<html>
  <head>
    <link rel="stylesheet" href="styling.css">
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1> Welcome to the Music App</h1>

    <form action="<%=url%>" method="post">
      <% if logged_in? %>
          <input type="hidden" name="_method" value="delete">

          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="submit" value="<%= button_description %>">
      <%else %>
        <a href="/sessions/new"> Log In Here </a>
      <% end  %>
    </form>
      <%= yield %>
  </body>
</html>
